{
  "$schema": "https://swc.rs/schema.json",
  "sourceMaps": true,
  "module": {
    "noInterop": true, // removes __esModule
    "type": "commonjs"
  },
  "jsc": {
    "externalHelpers": true,
    "keepClassNames": true,
    "target": "es2020",
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    }
  }
}
